@tailwind base;
@tailwind components;
@tailwind utilities;

/* Per Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Per Firefox */
.no-spinner[type="number"] {
    -moz-appearance: textfield;
}
